<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white;" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" style="background-color:; padding-top:34px;" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span style="width: 33px; height:3px; background-color:#3C5A99;" class="icon-bar"></span>
        <span style="width: 33px; height:3px; background-color:#3C5A99;" class="icon-bar"></span>
        <span style="width: 33px; height:3px; background-color:#3C5A99;" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:#3C5A99; font-weight:700; font-size:26px; padding-top:30px;" href="{{ url_for('main.home') }}">Brooklyn College eVote</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if current_user.confirmed and current_user.is_authenticated() %}
          <li><a style="color:#3C5A99; font-weight:400; font-size:18px; padding-top:34px;" href="{{ url_for('petition.listPetitions') }}">Petition List</a></li>
          <li><a style="color:#3C5A99; font-weight:400; font-size:18px; padding-top:34px;" href="{{ url_for('petition.createPetition') }}">Create a Petition</a></li>
            {% elif current_user.is_authenticated() %}
          <li><a href="{{ url_for('user.unconfirmed') }}">Confirm</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
          <li><a style="color:#3C5A99; font-weight:700; font-size:19px; padding-top:30px;"href="{{ url_for('user.profile') }}"><span style="color:#3C5A99; " class="glyphicon glyphicon-user"></span>&nbsp;</a></li>
        {% else %}
          <li><a style="color:white; font-weight:500; background-image: linear-gradient(#4365a8, #304978); border-radius:29px; font-size:16px; padding-top: 10px; padding-bottom: 10px; padding-left:30px; padding-right:30px; margin-top:15px;" href="{{ url_for('user.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
