{% extends "_base.html" %}

{% block content %}

<h1>Current Petition:</h1>
<br>

<tr>
	{% for p in curPetitions %}
	<td>{{p.name}}</td><br>
	<td>
		<form class="form-reset" role="form" method="post" action="">
			{{ form.csrf_token }}

  			<button class="" name='voteYes' value={{p.publicKey}} type="submit">Yes</button>
  			<button class="" name='voteNo' value={{p.publicKey}} type="submit">No</button>
			<button class="" name="details" value="{{p.uid}}" type="submit">View More Details</button>
		</form>
	</td><br><br>
	{% endfor %}
</tr>




<h1>Past Petition:</h1>
<br>

<tr>
	{% for p in pastPetitions %}
	<td>{{p.name}}</td><br>
	<td>
		<form class="form-reset" role="form" method="post" action="">
			{{ form.csrf_token }}

			<button class="" name="details" value="{{p.uid}}" type="submit">View More Details</button>
		</form>
	</td><br><br>
	{% endfor %}
</tr>




{% endblock %}
