{% extends "_base.html" %}
{% block content %}

<p>The mission: Create a better voting system with blockchain technology.</p>

<p>No longer do students need to waste time with pen and pencil when it comes to creating, signing, and verifying campus petitions.
  <br><br> When someone wants to show their support for their favorite causes, they should be able to<br>
do so in the more effective, efficent, and secure way possible. That's why in late Fall of 2019, it is<br>
with great pleasure to debut BCeV (Brooklyn College eVote) to the student body </p>
<br>
<p></p>

{% endblock %}
