{% extends "_base.html" %}

{% block content %}

<h1 class="col-xs-6 col-xs-offset-4">Sign up</h1>
<br>
<form class="col-xs-4 col-xs-offset-4 form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="confirm") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button style="text-align: center;  color:white; font-weight:500; background-image: linear-gradient(#4365a8, #304978); border-radius:29px; font-size:19px; padding-top: 15px; padding-left: 73px;padding-right: 73px; padding-bottom: 15px; margin-top:15px;" class="btn btn-success" type="submit">Submit</button>
  <br><br>
  <p>Already have an account? <a style="color:#3C5A99" href="/login">Login</a>.</p>
</form>

{% endblock %}
